# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio cache/options
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Dotnet artifacts
project.lock.json
project.fragment.lock.json
artifacts/

# Rider
.idea/
*.sln.iml

# OS junk
[Tt]humbs.db
[Dd]esktop.ini
*.DS_Store

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml
coverage*.xml

# Tooling
*.ncrunchsolution
*.ncrunchproject
nCrunchTemp_*
*.dotCover

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# NuGet
*.nupkg
*.snupkg
*.nuspec
*.nuget.props
*.nuget.targets
packages/
.nuget/

# Azure
*.azurePubxml
*.publishproj
PublishProfiles/

# Tye
.tye/

# Logs
*.log

# Secrets
secrets.json
*.secret

# Others
*.swp
*.tmp
